* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.z-2 {
    z-index: 2;
}

nav {
    background-color: rgba(49, 58, 66, 0.788);
    color: rgb(206, 214, 236);
    width: 75vw;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    margin: 20px auto;
}

.navitems {
    flex-direction: column;
    justify-content: space-between;
}

.leftcontent {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.brandlogo {
    border-radius: 50%;
    height: 30px;
    margin: 0px 10px 0px 30px;
}

a {
    color: rgb(219, 226, 236);
    text-decoration: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.video-heading {
    text-align: center;
}

.container-videos {
    justify-content: center;
    width: 30%;
    padding: 20px;
    background-color: rgba(0, 128, 128, 0.212);
    flex-direction: column;
    align-items: center;
    margin: 9px;
    border-radius: 10px;
}

.container-videos:hover {
    background-color: rgba(71, 71, 94, 0.048);
}

.startwatchingbutton {
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.maincontent {
    background-color: teal;
}

#videoplayer {
    margin: 50px;
}

.about-video {
    margin: 10px;
    font-size: large;
    text-align: center;
}

.video-thumb {
    border-radius: 50%;
}

.d-grid {
    display: grid;
}

.mx-5 {
    margin: 10px;
}

.searchinput {
    margin: 15px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn {
    height: 50%;
    align-self: center;
    background-color: #24a0ed;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1779b683;
}

.userloginarea {
    margin-left: 20px;
}

.homecontainer {
    font-family: 'Open Sans', sans-serif;
    color: rgb(206, 214, 236);
    background-color: rgba(235, 226, 215, 0.116);
    justify-content: center;
    padding: 30px;
}

.videocontainer {
    font-family: 'Open Sans', sans-serif;
    color: rgb(69, 70, 75);
    background-color: rgba(235, 226, 215, 0.116);
    padding: 30px;
}

.brandheading {
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 50px;
    text-align: center;
}

.homecontainer-p {
    margin: 50px;
}

.forsmalldevice {
    display: none;
}

.p-5 {
    padding: 5px;
}

.hoverbtn:hover {
    background-color: rgba(83, 83, 151, 0.171);
    border-radius: 5px;
}

.brandimg {
    border-radius: 50%;
    height: 10vw;
    display: block;
    margin: 0px auto;
}

#collapseoff {
    height: 50px;
    animation: collapseoff 0.5s;
    overflow: hidden;
}

#collapsef {
    height: 50px;
    overflow: hidden;
}

#collapseon {
    animation: collapseon 0.5s ease-out;
}

@keyframes collapseon {
    from {
        height: 50px;
        overflow: hidden;
    }
    to {
        height: 175px;
        overflow: hidden;
    }
}

@keyframes collapseoff {
    from {
        height: 175px;
    }
    to {
        height: 50px;
    }
}

.collapsebtn {
    background-color: rgba(49, 58, 66, 0);
    border: none;
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.rightcontent {
    flex-direction: column;
}

.userloginarea {
    align-self: center;
}

.fullpage {
    background-image: url(../img/homebg.jpg);
    margin: -20px auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    .fullpage {
        background-image: url(../img/homebgsmall.jpg);
        margin: -20px auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width :1050px) {
    .container-videos {
        width: 70vw;
    }
}

@media screen and (max-width: 800px) {
    .forbigdevice {
        display: none;
    }
    #videoplayer {
        height: auto;
        width: auto;
    }
    .brandimg {
        height: 10vh;
    }
    .navlinks {
        position: relative;
        top: 40px;
        flex-direction: column;
        align-self: flex-start;
    }
    .forsmalldevice {
        display: block;
    }
    .collapsebtn {
        align-self: flex-start;
        margin-top: 10px;
    }
    .brandlogo {
        align-self: flex-start;
        margin-top: 10px;
    }
    @keyframes collapseon {
        from {
            height: 50px;
            overflow: hidden;
        }
        to {
            height: 390px;
            overflow: hidden;
        }
    }
    @keyframes collapseoff {
        from {
            height: 390px;
        }
        to {
            height: 50px;
        }
    }
}